{% extends "Expenses_base.html" %}
{% block page_title %} Receipt Details {% endblock %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li id="message_{{ forloop.counter }}"
                    {% if message.tags %} class="{{ message.tags }}"
                    {% endif %}>
                {{ message }}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <img src="{{ receipt.picture.url }}">
            </div>
            <div class="span10">
             <p>{{ receipt.title }}</p>
             <p>{{ receipt.amount_chf }}</p>
             <p> User {{ receipt.user }} has {{ receipt.number_of_receipts }} receipts</p>
             </div>
            </div>
    </div>
    <a href="{% url 'receipts_update' receipt.id %}" class="text-gray"> "Edit" </a>
{% endblock %}
