{% extends "Expenses_logged_in.html" %}

{% block page_title %} Receipts {% endblock %}
{% block content %}
    {{ block.super }}
    <div id="dialog" title="Confirm delete">Are you sure?</div>
    <table class="receipts table table-striped" width=auto>
    <tbody>
    {% for receipt in receipts %}
        <tr>
            <td><a class="detail" href="{{ receipt.get_absolute_url}}"> {{ receipt.title }}</a></td>
            <td>{{ receipt.amount_chf }}</td>
            </a>
        <td><a id="{{ receipt.id }}" href="#" class="delete" >Delete </a></td>
    </tr>

    {% endfor %}
    </tbody>
    </table>
    {% csrf_token %}
{% endblock %}
{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" charset="utf-8">
    $(function(){
            $("#dialog").dialog({
                modal: true,
                autoOpen:false
            });
            $("a.delete").click(function(e) {
                e.preventDefault();
                var id = $(this).attr('id');
                var the_url = "{% url 'receipts_delete' 999 %}".replace (999, id);
                $("#dialog").dialog('option', 'buttons', {
                    "Delete": function() {
                        $.ajax({
                            headers : {
                                "X-CSRFToken": $("input[name='csrfmiddlewaretoken']").val()
                            },
                            type: "POST",
                            url: the_url,
{#                            data: {'pk': id},#}
                            success: function() {
                                location.reload();
                            }
                        });
                        $(this).dialog("close");
                    },
                    "Cancel": function() {
                        $(this).dialog("close");
                    }
                });
                $("#dialog").dialog("open");
                return false;
            });

        });
    </script>
{%  endblock %}