{% extends "Expenses_logged_in.html" %}

{% block page_title %} Receipt Details {% endblock %}

{% block content %}
    {{ block.super }}
    <div class="container-fluid">
        <div class="row-fluid">
            {%  if receipt.picture %}
            <div class="span2">
                <img src="{{ receipt.picture.url }}">
            </div>
            {% endif %}
            <div class="span10">
             <p>{{ receipt.title }}</p>
             <p>{{ receipt.amount_chf }}</p>
             <p> User {{ receipt.user }} has {{ receipt.number_of_receipts }} receipts</p>
             </div>
            </div>
    </div>
    <a href="{% url 'receipts_update' receipt.id %}" class="text-gray"> "Edit" </a>
{% endblock %}