{% extends "Expenses_base.html" %}
{% block title %} Receipt Details {% endblock %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li id="message_{{ forloop.counter }}"
                    {% if message.tags %} class="{{ message.tags }}"
                    {% endif %}>
                {{ message }}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% block content %}
    <p>{{ receipt.title }}</p>
     <p>{{ receipt.amount_chf }}</p>
    <p> User {{ receipt.user }} has {{ receipt.number_of_receipts }} receipts</p>
{% endblock %}