.show-grid {
    margin-top: 10px;
    margin-bottom: 20px;
}
.show-grid [class*="span"] {
    background-color: #eee;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-height: 40px;
    line-height: 40px;
}
.show-grid [class*="span"]:hover {
    background-color: #ddd;
}
.show-grid .show-grid {
    margin-top: 0;
    margin-bottom: 0;
}
.show-grid .show-grid [class*="span"] {
    margin-top: 5px;
}
.show-grid [class*="span"] [class*="span"] {
    background-color: #ccc;
}
.show-grid [class*="span"] [class*="span"] [class*="span"] {
    background-color: #999;
}

tr.hover {
    color: slategrey;
    cursor: pointer;
}

footer {
    background-color: #000000;
    color: #999;
    position:absolute;
    width:100%;
    bottom:0px;
}

input.parsley-success, textarea.parsley-success {
    color: #468847 !important;
    background-color: #DFF0D8 !important;
    border: 1px solid #D6E9C6 !important;
}
input.parsley-error, textarea.parsley-error {
    color: #B94A48 !important;
    background-color: #F2DEDE !important;
    border: 1px solid #EED3D7 !important;
}